@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        margin: 0;
        padding: 0;
    }
}

@layer utilities {
    .errors {
        color: red;
        font-size: x-small;
        font-weight: 700;
        padding-left: 10px;
    }
}

.max-width {
    @apply max-w-[1440px] mx-auto;
}

.flex-center {
@apply flex items-center justify-center;
}

.flex-between {
@apply flex items-center justify-between;
}